@mixin is_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    box-sizing: border-box;
    * {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
        &::before,
        &::after {
            margin: 0;
            padding: 0;
            box-sizing: inherit;
        }
    }
    body {
        font-family: 'Montserrat', sans-serif;
        background-color: var(--bg);
        height: 100vh;
        @include is_center();
    }
}

:root {
    --gradient-light: linear-gradient(145deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .25));
    --gradient-dark: linear-gradient(145deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .25));
    --not-black: #3f4142;
    --primary: #689de0;
    --success: #28e470;
    --light: #d3d7e0;
    --bg: #ecf0f1;
}

main {
    width: 80%;
    min-height: 500px;
    box-shadow: 0px 50px 186px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    @include is_center();
    .content {
        @include is_center();
        min-height: 500px;
        &__text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-basis: 70%;
            height: 500px;
            color: var(--not-black);
            padding: 30px;
            h1 {
                font-weight: 300;
            }
            .btn-group {
                display: flex;
                margin-top: 16px;
                .btn {
                    &:first-child {
                        margin-right: 16px;
                        &:hover {
                            cursor: pointer;
                            border: 2px solid var(--primary);
                        }
                    }
                    display: block;
                    width: 150px;
                    margin: .6em 0;
                    padding: .6em 1em;
                    font-family: inherit;
                    font-weight: 700;
                    letter-spacing: 1px;
                    border: 2px solid #cccccc;
                    background: transparent;
                    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
                    border-radius: 50px;
                    text-align: center;
                    text-transform: uppercase;
                    position: relative;
                    overflow: hidden;
                    transition: .3s;
                    &:after {
                        position: absolute;
                        transition: .3s;
                        content: '';
                        width: 0;
                        left: 50%;
                        bottom: 0;
                        background: #c0392b;
                    }
                    &:hover {
                        cursor: pointer;
                        border: 2px solid #c0392b;
                        &:after {
                            width: 100%;
                            left: 0;
                        }
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        &__visual {
            display: flex;
            flex-basis: 30%;
            background-color: var(--primary);
            height: 500px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            @include is_center();
            position: relative;
            img {
                position: absolute;
                left: -50px;
                width: 280px;
                height: 400px;
                box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
            }
        }
    }
}